* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***-----Clase universal para animación de Scroll -----*/
.scroll-suave {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.scroll-suave.visible {
  opacity: 1;
  transform: translateY(0);
}

/*Estilos generales */

h2 {
  font-size: 2.32em;
  font-family: "Opens Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

footer {
  width: 100%;
  height: 23.5em;
  background-color: #636363;
}

/**  Diseño de la Cabecera ***/

header {
  width: 100%;
  height: 10em;
  /* border: 1px solid black; */
}

#boxHeaderMenu {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

#boxTitulo {
  width: 100%;
  padding-top: 2.54em;
  /* border: 1px solid purple; */
}
#boxTitulo p {
  text-align: center;
  font-size: 5em;
  font-family: "Courier New", monospace;
  font-weight: 600;
}

#boxMenu ul {
  display: flex;
  gap: 2em;
}

#boxMenu li {
  list-style: none;
}

#boxMenu ul li a {
  font-family: "Open Sans";
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 1.32rem;
  font-weight: 450;
}

#boxMenu ul li a:hover {
  color: blue;
}

/*transaccion desde el centro */
#boxMenu ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 30px;
  left: 5%;
  background-color: blue;
  transition: width 0.3s;
}

#boxMenu ul li a:hover::after {
  width: 100%;
  color: blue;
}

#tituloUbicacion {
  text-align: center;
  font-size: 3.3rem;
  font-family: "Open Sans";
  margin-bottom: 0.5em;
}

/*----------------------- Diseño general ---------- */

/*Diseño del carrete automatica de Galeria*/
.galeria {
  width: 90%;
  max-width: 400px;
  height: 30em;
  max-width: 1280px;
  margin: 50px auto 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Le da profundidad */
}

.galeria ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: slide 20s infinite alternate ease-in-out;
  /* border: 1px solid red; */
}

.galeria li {
  width: 100%;
  height: 30em;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  color: white;
}

.texto h2 {
  font-size: 45px;
  margin-bottom: 15px;
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto 0;
  display: block;
  filter: brightness(65%); /* 50% de brillo = más oscuro */
}

/**Animación*/
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*Seccion 2 Ganadores de premio nobel */

@media (max-width: 991px) {
  .galeria {
    width: 100%;
  }

  .texto {
    top: 50px;
    padding: 0 25px;
  }

  .texto h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .texto p {
    font-size: 15px;
  }
}

/*------- Diseño Seccion 3 --------*/
/*      Exponentes de LatinoAmerica */

section:nth-child(2) {
  width: 100%;
  /* border: 2px solid black; */
}

#tituloLatinos {
  /* border: 1px solid red; */
  padding: 2.3em;
  margin-top: 1.5em;
}

#latinoAmerica {
  display: flex;
  width: 100%;
  padding: 2em 5em;
  /* border: 1px solid red; */
}

.imgGanadorNobel {
  /* border: 1px solid plum; */
  width: 50%;
  height: 28em;
}

.imgGanadorNobel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#info-exponentes {
  /* border: 1px solid saddlebrown; */
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5em;
}
#info-exponentes p {
  font-size: 1.5em;
  margin-bottom: 1.5em; /*Espacio entre parrafo*/
  font-family: "Opens Sans";
  margin-left: 1rem;
}

#info-exponentes a {
  align-self: center;
  display: inline-block;
  text-align: center;
  background-color: black;
  width: 25%;
  height: 2em;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  line-height: 2em;
  border: 1px solid black; /*necesario para hacer la animcacion en hover*/
  font-size: 1.5em;
  font-family: Arial;
  transition:
    color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
  box-shadow: insert 0 0 0 0 white;
}

#info-exponentes a:hover {
  box-shadow: inset 300px 0 0 0 white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

/*** Seccion 3 cartas diseño***/

section:nth-child(3) {
  width: 100%;
  /* border: 1px solid red; */
}

.titulo3 {
  margin-top: 3.5em;
}

#contenedor-cartas {
  height: auto;
  width: 100%;
  /* position: relative; */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/library.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5em;
  padding: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 44.1rem;
}

.card_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25em;
  margin: 0;
}

.card_content {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card_title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card_text {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 15px;
}

.card_button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card_button:hover {
  background-color: #ffffff;
  color: #007bff;
  font-weight: bold;
  font-size: 1.2em;
  border: 4px solid #007bff;
}

.verMasLibros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 44.1rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 2em;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.verMasLibros p {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: "Open Sans";
}

.verMasLibros button {
  background-color: #007bff;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

/*Renovación de Credencial*/

#renovacionID {
  /* margin-top: 2.3rem; */
  width: 100%;
  height: 37em;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/identificacionID.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#box-info {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#box-info #tituloID {
  font-size: 4.24em;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  /* text-align: center; */
}

#box-info p {
  color: #ffff;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-style: italic;
  padding: 0 2.3rem;
  margin-top: 1.2em;
}

#box-info button {
  border: none;
  background: #007bff;
  margin-top: 1.5em;
  padding: 1.3em;
  border-radius: 9px;
  font-size: 0.98em;
  font-weight: bold;
  color: white;
}

#box-info button:hover {
  background-color: #003269;
}

/*Mapa Seccion */

#sectionMap {
  width: 100%;
}

#sectionMap #mapa {
  width: 100%;
  margin-top: 1.5em;
}

#mapa-box {
  width: 100%;
  height: 40em;
}

#mapa-box iframe {
  width: 100%;
  height: 100%;
}

/*Seccion Pie de Página*/

footer {
  background-color: #3f3d3d;
  width: 100%;
  padding: 2em;
}

#pieDePagina {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  color: white;
}

#pieDePagina a i {
  color: white;
  font-size: 2em;
}

footer p {
  text-align: center;
  margin-top: 0.8em;
  color: white;
  font-family: "Open Sans";
}

#copyright {
  width: 100%;
  text-align: center;
  margin: 2em 0;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  color: white;
}

/*** -----------------     DISEÑO libro.html --------------------*/

/******** DISEÑO LIBROS PÁGINA  SECTION***************/

/*Filtro por autores*/

#filtro-libro-autor-section {
  width: 100%;
  margin-top: 3.5rem;
}

#box-filtro-autor-libro-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#busqueda-escritor-titulo-libro {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 2.22em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

#button-autor-libro-section,
#button-reset-auto-libro {
  margin-left: 0.3em;
  border: none;
  padding: 0.7em;
  border-radius: 9px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 0.87em;
  font-family: "Open Sans";
}

#button-autor-libro-section:hover,
#button-reset-auto-libro:hover {
  background-color: #003269;
  font-weight: bold;
}

#busqueda-autor-libro-section {
  height: 3.1em;
  width: 24em;
  border-radius: 9px;
  padding-left: 1.2rem;
}

.carta-libro {
  display: flex;
  width: 100%;
  height: auto; /*Como es una caja que abarca esto, pues así aumentara automaticamente*/
  padding: 3.2rem;
}

.box-img-libroSection {
  /* border: 1px solid black; */
  width: 25%;
}

.portada {
  width: 100%;
  height: 100%;
}

.box-info-libroSection {
  width: 100%;
  margin-left: 2.3rem;
}

.box-info-libroSection .titulo {
  font-size: 3rem;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
}

.box-info-libroSection {
  padding: 0em 2.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-info-libroSection .autor {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Open Sans";
}

.box-info-libroSection .sinopsis {
  margin-top: 0.87rem;
  font-size: 1.8em;
}

.box-info-libroSection .genero {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

.box-info-libroSection .anio {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

/*-------------DISEÑO PREMIOS NOBEL ----------------*/
/*------Archivo premioNobel.html------*/
/* ------------- DISEÑO LIBROS (Renderizados por JS) ---------------- */

#filtro-anio-nacionalidad {
  width: 100%;
  /* border: 1px solid black; */
}

#filtro-box {
  width: 100%;
  margin-top: 3.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filtro-box label {
  margin: 0 0.4em 0 0.82em;
  font-size: 1.7em;
  font-family: "Open Sans";
}

#filtro-box #nacionalidad {
  height: 1.95em;
}

#filtro-box #campo-anio {
  width: 9rem;
  height: 1.95em;
}

#filtro-box #button-nobel-filtro-section {
  margin-left: 2.3em;
  border: none;
  padding: 0.7em;
  border-radius: 9px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 0.87em;
  font-family: "Open Sans";
}

#button-nobel-filtro-section:hover {
  background-color: #003269;
  font-weight: bold;
}

#contenedor-nobels {
  width: 100%;
}

.article-nobel {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-info-nobels {
  /* border: 1px solid black; */
  padding: 0 9em;
}

.box-info-nobels .nombre {
  font-size: 3.2em;
  font-style: italic;
  font-family: "Open Sans";
}

.box-info-nobels ul {
  list-style: none;
}

.box-info-nobels ul .motivo,
.nacionalidad,
.anio {
  font-size: 1.8rem;
  text-align: center;
  margin: 1.2rem 0;
  font-family: "Open Sans";
}

/****-------------DISEÑO GENERO LIBROS------------****/
/********DISEÑO genero.html****/

#genero-libros {
  width: 13em;
  height: 1.5em;
  border-radius: 0.2em;
}

#genero-libros option {
  font-size: 0.83rem;
  text-align: center;
}

#button-genero-filtro {
  border: none;
  color: #ffffff;
  margin-left: 2.3em;
  padding: 0.7em;
  border-radius: 9px;
  background-color: #007bff;
  font-size: 0.87em;
  font-family: "Open Sans";
}

#button-genero-filtro:hover {
  background-color: #003269;
  font-weight: bold;
}

/* #genero-libros option:hover { */
/*   background-color: #007bff; */
/* } */

#contenedor-generos-libro {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5em;
  padding: 2.5em;
  justify-content: center;
}

.titulo-genero-seleccionado {
  width: 100%;
  margin-top: 4.3em;
  grid-column: 1 / -1; /* ocupa todo el ancho, no entra al grid */
}

.titulo-genero-seleccionado #genero-seleccionado {
  text-align: center;
  font-size: 2.3em;
  font-family: "Open Sans";
}

.libro-box-genero {
  width: 100%;
  height: 33em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.libro-box-genero .portada-genero {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.titulo-genero-libros {
  margin-top: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.libro-escrito-autor {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #555;
  text-align: center;
}

/****---------------- DISEÑO LOGIN SECTION----------------*******/
/*administrasdores.html*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #007bff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #007ccc;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #007bff;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}

/******------------ SECCIÓN ADMINISTRACIÓN ------- ******/

/****-----menuLogin.html-------****/

#titulo-administracion {
  text-align: center;
  font-family: "Open Sans", sans-serfi;
  margin-top: 4rem;
}

#menu-administracion {
  width: 100%;
}

.box-menu-administracion {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  /* border: 1px solid black; */
}

#box-img-busquedaUsuarios,
#box-img-libroVencidos,
#box-img-librosActivos,
#box-img-multas {
  padding: 1.3rem;
}

.box-option-administracion {
  /* border: 1px solid green; */
  width: 20rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-option-administracion p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.83em;
  font-style: italic;
}

.button-option-admin {
  color: #ffffff;
  background-color: #007bff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  width: 7.3rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.55rem;
}

.button-option-admin:hover {
  background-color: #175496;
}

.fa-solid {
  /*Iconos de admin*/
  font-size: 3.32rem;
}
