* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Estilos generales */

h2 {
  font-size: 2.32em;
  font-family: "Opens Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.carta-libro {
  opacity: 0;
  transfom: translate(30px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.carta-libro.visible {
  opacity: 1;
  transform: translateY(0);
}

/*Section del mapa*/

#sectionMap {
  width: 100%;
  height: auto;
}

#sectionMap #mapa {
  width: 100%;
  margin-top: 4.5em;
  height: 40em;
}

#sectionMap #mapa iframe {
  width: 100%;
  height: 100%;
}

#tituloUbicacion {
  text-align: center;
  font-size: 3.3rem;
  font-family: "Open Sans";
  margin-bottom: 0.5em;
}

footer {
  width: 100%;
  height: 23.5em;
  background-color: #636363;
}

/**  Diseño de la Cabecera ***/

header {
  width: 100%;
  height: 10em;
  /* border: 1px solid black; */
}

#boxHeaderMenu {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

#boxTitulo {
  width: 100%;
  padding-top: 2.54em;
  /* border: 1px solid purple; */
}
#boxTitulo p {
  text-align: center;
  font-size: 5em;
  font-family: "Courier New", monospace;
  font-weight: 600;
}

#boxMenu ul {
  display: flex;
  gap: 2em;
}

#boxMenu li {
  list-style: none;
}

#boxMenu ul li a {
  font-family: "Open Sans";
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 1.32rem;
  font-weight: 450;
}

#boxMenu ul li a:hover {
  color: blue;
}

/*transaccion desde el centro */
#boxMenu ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 30px;
  left: 5%;
  background-color: blue;
  transition: width 0.3s;
}

#boxMenu ul li a:hover::after {
  width: 100%;
  color: blue;
}

/*----------------------- Diseño general ---------- */

/*Diseño del carrete automatica de Galeria*/
.galeria {
  width: 90%;
  max-width: 400px;
  height: 30em;
  max-width: 1280px;
  margin: 50px auto 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Le da profundidad */
}

.galeria ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: slide 20s infinite alternate ease-in-out;
  /* border: 1px solid red; */
}

.galeria li {
  width: 100%;
  height: 30em;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  color: white;
}

.texto h2 {
  font-size: 45px;
  margin-bottom: 15px;
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto 0;
  display: block;
  filter: brightness(65%); /* 50% de brillo = más oscuro */
}

/**Animación*/
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*Seccion 2 Ganadores de premio nobel */

@media (max-width: 991px) {
  .galeria {
    width: 100%;
  }

  .texto {
    top: 50px;
    padding: 0 25px;
  }

  .texto h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .texto p {
    font-size: 15px;
  }
}

/*------- Diseño Seccion 3 --------*/
/*      Exponentes de LatinoAmerica */

section:nth-child(2) {
  width: 100%;
  /* border: 2px solid black; */
}

#tituloLatinos {
  /* border: 1px solid red; */
  padding: 2.3em;
  margin-top: 1.5em;
}

#latinoAmerica {
  display: flex;
  width: 100%;
  padding: 2em 5em;
  /* border: 1px solid red; */
}

.imgGanadorNobel {
  /* border: 1px solid plum; */
  width: 50%;
  height: 28em;
}

.imgGanadorNobel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#info-exponentes {
  /* border: 1px solid saddlebrown; */
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5em;
}
#info-exponentes p {
  font-size: 1.5em;
  margin-bottom: 1.5em; /*Espacio entre parrafo*/
  font-family: "Opens Sans";
  margin-left: 1rem;
}

#info-exponentes a {
  align-self: center;
  display: inline-block;
  text-align: center;
  background-color: black;
  width: 25%;
  height: 2em;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  line-height: 2em;
  border: 1px solid black; /*necesario para hacer la animcacion en hover*/
  font-size: 1.5em;
  font-family: Arial;
  transition:
    color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
  box-shadow: insert 0 0 0 0 white;
}

#info-exponentes a:hover {
  box-shadow: inset 300px 0 0 0 white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

/*** Seccion 3 cartas diseño***/

section:nth-child(3) {
  width: 100%;
  /* border: 1px solid red; */
}

.titulo3 {
  margin-top: 3.5em;
}

#contenedor-cartas {
  height: auto;
  width: 100%;
  /* position: relative; */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/library.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5em;
  padding: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 44.1rem;
}

.card_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25em;
  margin: 0;
}

.card_content {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card_title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card_text {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 15px;
}

.card_button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card_button:hover {
  background-color: #ffffff;
  color: #007bff;
  font-weight: bold;
  font-size: 1.2em;
  border: 4px solid #007bff;
}

.verMasLibros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 44.1rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 2em;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.verMasLibros p {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: "Open Sans";
}

.verMasLibros button {
  background-color: #007bff;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

/******** DISEÑO LIBROS PÁGINA  SECTION***************/

#libros-section {
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 4.5em;
}

.carta-libro {
  display: flex;
  width: 100%;
  height: auto; /*Como es una caja que abarca esto, pues así aumentara automaticamente*/
  padding: 3.2rem;
}

.box-img-libroSection {
  /* border: 1px solid black; */
  width: 25%;
}

.portada {
  width: 100%;
  height: 100%;
}

.box-info-libroSection {
  width: 100%;
  margin-left: 2.3rem;
}

.box-info-libroSection .titulo {
  font-size: 6rem;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
}

.box-info-libroSection {
  padding: 0em 2.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-info-libroSection .autor {
  font-size: 3.3rem;
  font-weight: 400;
  font-family: "Open Sans";
}

.box-info-libroSection .sinopsis {
  margin-top: 1.2rem;
  font-size: 1.8em;
}

.box-info-libroSection .genero {
  font-size: 1.8rem;
}

.box-info-libroSection .anio {
  font-size: 1.8rem;
}
